.ttt-row{
    display: flex;
}
.ttt-square {
    width: 14rem;
    margin: 0.5rem;
    height: 14rem;
    border: 3px solid rgba(0, 0, 0, 0.481);
    background-color: rgb(244 141 141);
}
.ttt-square p{
    font-size: 10rem;
    text-align: center !important;
}